div{
    display: block;
}
a, body, div, html{
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}
a{
    font-size: 16px;
}
#VideoPlaying{
    left: 0px;
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
#VideoPlaying > video{
    object-fit: cover;
    width: 100%;
}
#RightHandModel{
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0px;
    width: 25%;
    height: 100%;
    min-width: 375px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

#content{
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    padding-left: 28px;
    padding-top: 10vh;
    padding-right: 28px;
    padding-bottom: 0px;
}
#logo{
    float: inherit;
    margin-top:0px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
    height: 160px;
    width: 300px;
    background-image: url('picture/Healthylife_2.png');
}
#content>.emailInput,.passwordInput{
    margin-bottom: 40px;
}
.textInput{
    margin-top: 0px;
    width: 319px;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    position: relative;
}
.label{
    color: #7d848b;
    margin-bottom: 4px;
    text-align: left;
}   
input{
    padding: 0 22px 0 12px;
    background-color: #dfe4e998;
    border: 0px;
    border-radius: 4px;
    cursor: default;
    height: 40px;
    line-height: 40px;
    vertical-align: bottom;
    width: 319px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin: 0;
}
#content>.forgotPassword{
    position: relative;
}
#content>.forgotPassword>a{
    right:56px;
    top:0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    color: blue;
}
#Login{
    height: 146px;
    width: 319px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
a.btn{
    border-radius: 22px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 44px;
    line-height: 44px;
    padding-top: 0px;
    padding-right: 24px;
    padding-bottom:0px;
    padding-left: 24px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}
a.btn.color{
    background: rgb(54, 146, 231);
    color: white;
}
a.btn.depth{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
}
#Login>#orSignup{
    color: #868e96;
    margin-top: 24px;
    text-align: center;
}
#Login>#orSignup>a{
    cursor: pointer;
    text-decoration: none;
    color: blue;
}

